@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-color: #f6e1fa;
    max-width: 1280px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}

.form-text h1{
    color: #350a4f;
    font-family: "Architects Daughter";
    font-weight: 1000;
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}


.main-form div{
    margin: 13px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: "Open Sans",sans-serif;
    background: none;
    border: 1px solid #fa9e2c;
    font-size: 15px;
    color: grey;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: "Open Sans",sans-serif;
    background: none;
    border: 1px solid #fa9e2c;
    font-size: 15px;
    color: grey;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: "Helvetica",sans-serif;
    color: #350a4f;
    font-size: 21px;
    font-weight: 400;
}

#submit{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
#submit input{
    font-family: "Architects Daughter";
    width: 200px;
    background-color: #fa9e2c !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: "Architects Daughter";
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

.main_bg1{
    background-color: #f6e1fa;
    max-width: 2000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}